/*  design colors  */
$brand-orange: #FF6600;
$primary-blue: #0062FF;
$secondary-gray: #6C757D;
$success-green: #3DD598;
$warning-yellow: #FFC542;
$error-red: #FC5A5A;
$sider-orange: #FF974A;
$sider-blue: #50B5FF;
$sider-green: #82C43C;
$sider-purple: #A461D8;
$sider-pink: #FF9AD5;
$scale-gray10: #171725;
$scale-gray9: #44444F;
$scale-gray8: #696974;
$scale-gray7: #92929D;
$scale-gray6: #B5B5BE;
$scale-gray5: #D5D5DC;
$scale-gray4: #E2E2EA;
$scale-gray3: #F1F1F5;
$scale-gray2: #FAFAFB;
$scale-gray1: #FFFFFF;
$form-bg: #F5F8FA;
$form-border: #657786;
$border: #E6ECF0;
$modal-black: #171725;