@import "./reset.scss";
@import "./color.scss";

.main-container {
  display: grid;
}
.tweet {
  border: 1px solid #000;
  .tweet__title {
    padding: 24px;
    margin-bottom: 0;
  }
  .tweet__content {
    position: relative;
    height: 136px;
    padding: 16px 24px;
    border-top: 1px solid #000;
    border-bottom: 10px solid #000;
    .tweet__description {
      display: flex;
      .tweet__avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      h5 {
        padding-left: 8px;
        line-height: 50px;
      }
    }   
    button {
      position: absolute; 
      right: 40px;
      bottom: 16px;
      width: 64px;
      height: 40px;
      border-radius: 50px;
      border: none;
    }
  }
  .tweet__card {    
    .tweet__card__content {
      display: flex;
      padding: 16px 24px;
      .tweet__card__avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      .tweet__card__title {
        display: flex;
        p {
          margin: 0
        }
        .tweet__card__name {
          margin: 0 8px 0 0;
        }
      }
      .tweet__card__right {
        padding-left: 8px;
        .tweet__card__content {
          margin: 0;
          padding: 10px 0;
        }
      }
    }
    .tweet__card__footer {
      display: flex;
      align-items: center;
      img {
        width: 13px;
        height: 13px;        
      }
      p {
        margin: 0 40px 0 10px;
      }
    }    
  }
}
