@import "./reset.scss";
@import "./color.scss";

/* basic settings*/
html,
body {
  font-family: "Noto Sans TC", "Montserrat", sans-serif;
}

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

/*  使用 @each產出 CSS size  */
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $value in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: #{$value};
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: 0.25 * $spacer,
  2: 0.5 * $spacer,
  3: 0.75 * $spacer,
  4: 1 * $spacer,
  5: 1.25 * $spacer,
  6: 1.5 * $spacer,
  7: 1.75 * $spacer,
  8: 2 * $spacer,
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $value in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: #{$value};
    }

    .#{$abbrev}t-#{$num} {
      #{$prop}-top: #{$value};
    }

    .#{$abbrev}r-#{$num} {
      #{$prop}-right: #{$value};
    }

    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: #{$value};
    }

    .#{$abbrev}l-#{$num} {
      #{$prop}-left: #{$value};
    }

    .#{$abbrev}x-#{$num} {
      #{$prop}-right: #{$value};
      #{$prop}-left: #{$value};
    }

    .#{$abbrev}-#{$num} {
      #{$prop}-top: #{$value};
      #{$prop}-bottom: #{$value};
    }
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: var(--main-bg);
  color: var(--main-color);
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

//Main
.main-container {
  display: grid;
}
.tweet {
  border: 1px solid #000;
  .tweet__title {
    padding: 24px;
    margin-bottom: 0;
  }
  .tweet__content {
    position: relative;
    height: 136px;
    padding: 16px 24px;
    border-top: 1px solid #000;
    border-bottom: 10px solid #000;
    .tweet__description {
      display: flex;
      .tweet__avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      h5 {
        padding-left: 8px;
        line-height: 50px;
      }
    }   
    button {
      position: absolute; 
      right: 40px;
      bottom: 16px;
      width: 64px;
      height: 40px;
      border-radius: 50px;
      border: none;
    }
  }
  .tweet__card {    
    .tweet__card__content {
      display: flex;
      padding: 16px 24px;
      .tweet__card__avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      .tweet__card__title {
        display: flex;
        p {
          margin: 0
        }
        .tweet__card__name {
          margin: 0 8px 0 0;
        }
      }
      .tweet__card__right {
        padding-left: 8px;
        .tweet__card__content {
          margin: 0;
          padding: 10px 0;
        }
      }
    }
    .tweet__card__footer {
      display: flex;
      align-items: center;
      img {
        width: 13px;
        height: 13px;        
      }
      p {
        margin: 0 40px 0 10px;
      }
    }    
  }
}

// Reply
.reply-container {
  display: grid;
}
.reply {
  border: 1px solid #e6ecf0;
  .reply__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
    padding: 24px 28px;
    img {
      width: 17px;
      height: 14px;
      margin-right: 20px;
    }
  }
  .tweet__content {
    padding: 16px;
    .tweet__title {
      display: flex;
      .tweet__avatar {
        width: 50px;
        height: 50px;
        margin-right: 8px;
      }
      .tweet__name {
        color: $scale-gray10;
        font-weight: 700;
        font-size: 16px;
      }
      .tweet__account {
        color: $secondary-gray;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .tweet__description {
      color: $scale-gray10;
      font-weight: 400;
      font-size: 24px;
      margin: 8px 0;
    }
    .tweet__time {
      color: $secondary-gray;
      font-weight: 500;
      font-size: 14px;
    }
    .tweet__count {
      display: flex;
      color: $secondary-gray;
      font-weight: 500;
      font-size: 19px;
      .tweet__num {
        color: $scale-gray10;
        margin-right: 2px;
      }
      .tweet__reply {
        margin-right: 8px;
      }
    }
    .tweet__card__footer {
      display: flex;
      img {
        width: 25px;
        height: 25px;
        margin-right: 134px;
      }
    }
    hr {
      color: #e6ecf0;
      width: 99%;
    }
  }
}
.reply__card__wrapper {
  .reply__card {
    display: flex;
    border-top: 1px solid #e6ecf0;
    padding: 16px 24px;
    .reply__card__avatar {
      width: 50px;
      height: 50px;
      margin-right: 8px;
    }
    .reply__card__title {
      display: flex;
      align-items: center;
      .reply__card__name {
        color: $scale-gray10;
        font-weight: 700;
        font-size: 16px;
        margin-right: 8px;
      }
      .reply__card__account,
      .reply__card__time {
        color: $secondary-gray;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .reply__card__target {
      display: flex;
      color: $secondary-gray;
      font-weight: 400;
      font-size: 14px;
      margin: 8px 0;
      P {
        margin-right: 2px;
      }
      .reply__card__target__account {
        color: $brand-orange;
      }
    }
    .reply__card__content {
      color: $scale-gray10;
      font-weight: 400;
      font-size: 16px;
    }
  }
}